{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="content d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-center flex-wrap">
                <div class="title d-flex align-items-center justify-content-center">
                    <h5 class="font-12 ms-3"><span class="d-inline-block ms-1">لیست تخصص‌ها</span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="specialties">
                <div class="container-fluid">
                    <div class="row">
                        <div class="swiper specialty-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">مغز و اعصاب</p>
                                        <img src="assets/image/neurologist.png">
                                        <p class="pfooter">تعداد پزشک: 205</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div
                class="header-content mb-4 bg-white shadow-box rounded-3 p-3 d-flex align-items-center justify-content-center flex-wrap">
                <div class="title d-flex align-items-center justify-content-center">
                    <h5 class="font-12 ms-3"><span class="d-inline-block ms-1">لیست پزشک‌ها</span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="doctors">
                <div class="container-fluid">
                    <div class="row">
                        <div class="swiper doctor-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide justify-content-center align-content-center">
                                    <div class="item">
                                        <p class="pheader">آناهیتا شاهین‌گهر</p>
                                        <img src="assets/image/doctor1.png">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-8 align-self-end">
                                                    <p class="pfooter">متخصص مغز و اعصاب</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="pfooter">امتیاز ۴.۵</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

