{% extends 'base.html' %}

{% block title %}Doctorex|تأیید ایمیل{% endblock %}

{% block head %}
    <style>
    form{
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p{
        text-align: center;
    }

    form h3{
        text-align: center
    }
</style>
{% endblock head %}

{% block body %}
    <form action="" method='POST'>
        {% csrf_token %}
        <h3><strong>تأیید ایمیل</strong></h3>
        <div class="mb-3">
            <label class="form-label">رمز یکبار مصرف</label>
            <input class="form-control" name="otp_code" placeholder="رمز دریافتی در ایمیل خود را وارد کنید">
        </div>

        <button class="btn btn-primary" style="width:100%">فعالسازی حساب کاربری</button>
        <p>رمز را دریافت نکردید؟ <a href="{% url 'account:resend-otp' %}">درخواست مجدد</a></p>

    </form>
{% endblock body %}