{% load static %}
<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Doctorex
        {% endblock title %}
    </title>
    <meta name="description" content="Effortlessly book doctor appointments online with our secure and user-friendly platform." />
    <meta name="author" content="G4 Team" />

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/font/bootstrap-icon/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugin/waves/waves.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugin/swiper/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugin/timer/timer.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <style>
        .jumbotron{
            padding: 20px;
            margin-bottom: 20px;

        }
    </style>

    {% block head %}{% endblock head %}
</head>


<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'inc/navbar.html' %}
    {% include 'inc/messages.html' %}
    {% block body %}{% endblock body %}
    {% include 'inc/footer.html' %}

    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "assets/plugin/waves/waves.min.js" %}"></script>
    <script src="{% static "assets/plugin/swiper/swiper-bundle.min.js" %}"></script>
    <script src="{% static "assets/plugin/timer/timer.js" %}"></script>
    <script src="{% static "assets/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js" %}"></script>
    <script src="{% static "assets/js/app.js" %}"></script>
    <script src="{% static "assets/js/htmx.min.js" %}"></script>

    {% block js_script %}{% endblock js_script %}
</body>

</html>