{% load static %}
<nav>
  <div class="mega-menu d-flex align-items-center justify-content-center">
      <div class="container-fluid">
          <div class="top-menu-parent">
              <div class="row align-items-center">
                  <div class="col-lg-4 col-sm-12">
                      <div class="top-menu-menu">
                          <ul class="navbar-nav align-items-center">
                              <li class="position-relative m-0"></li>
                              <li class="nav-item main-menu-head">
                                  <a href="{% url 'index' %}"
                                      class="nav-link border-animate main-color-one-bg fromCenter btn nav-active fw-bold">
                                    <img src="{% static 'assets/image/doctorex-mini.png' width='85' height='50' %}" alt="Home" class="navbar-logo">
                                  </a>
                              </li>
{#                              <li class="nav-item">#}
{#                                  <a href="" class="nav-link border-animate fromCenter">#}
{#                                      |#}
{#                                      <i class="bi bi-list"></i>#}
{#                                      &nbsp;#}
{#                                      لیست تخصص‌ها#}
{#                                  </a>#}
{#                              </li>#}
{#                              <li class="nav-item">#}
{#                                  <a href="" class="nav-link border-animate fromCenter">#}
{#                                      |#}
{#                                      <i class="bi bi-bandaid-fill"></i>#}
{#                                      &nbsp;#}
{#                                      لیست پزشکان#}
{#                                  </a>#}
{#                              </li>#}
{##}
{#                              <li class="nav-item">#}
{#                                  <a href="" class="nav-link border-animate fromCenter">#}
{#                                      |#}
{#                                      <i class="bi bi-heart-pulse-fill"></i>#}
{#                                      &nbsp;#}
{#                                      مجله سلامت#}
{#                                  </a>#}
{#                              </li>#}
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-8">
                      <div class="search-form">
                        <form action="{% url "search" %}" method="get">
                              <div class="search-filed">
                                  <input type="text" placeholder="جستجوی پزشکان ..."
                                  class="form-control search-input" name="search">
                                  <button type="submit" class="btn search-btn main-color-one-bg rounded-pill"><i
                                          class="bi bi-search"></i></button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                      <div class="d-flex align-items-center justify-content-end">
                          <div class="btn-group header-btn-group shadow-sm rounded-pill">
                              <div class="dropdown">
                                  {% if request.user.is_authenticated %}
                                  <a href="" data-bs-toggle="dropdown" aria-expanded="false"
                                      role="button" class="btn btn-white header-register border-0 rounded-pill">
                                      <i class="bi bi-person-circle font-20 text-muted me-1"></i>
                                      <span>حساب کاربری</span>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li>
                                          <a href="{% url 'account:profile' %}" class="dropdown-item">
                                              <i class="bi bi-person-lines-fill"></i>
                                              پروفایل
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'account:visit_history' %}" class="dropdown-item">
                                              <i class="bi bi-capsule"></i>
                                              تاریخچه‌ی ویزیت
                                          </a>
                                      </li>
                                      <li>
                                          <a href="" class="dropdown-item">
                                              <i class="bi bi-bell-fill"></i>
                                              پیام‌ها واطلاعیه‌ها
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'account:comments' %}" class="dropdown-item">
                                              <i class="bi bi-chat-quote-fill"></i>
                                              نظرات من
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'account:signout' %}" class="dropdown-item mct-hover">
                                              <i class="bi bi-arrow-right-square me-2"></i>
                                              خروج از حساب کاربری
                                          </a>
                                      </li>
                                  </ul>
                                  {% else %}
                                      <a href="{% url 'account:signup' %}" aria-expanded="false"
                                      role="button" class="btn btn-white header-register border-0 rounded-pill">
                                      <i class="bi bi-person-circle font-20 text-muted me-1"></i>
                                      <span>ثبت نام</span>
                                      </a>
                                      <a href="{% url 'account:signin' %}" aria-expanded="false"
                                      role="button" class="btn btn-white header-register border-0 rounded-pill">
                                      <i class="bi bi-person-circle font-20 text-muted me-1"></i>
                                      <span>ورود</span>
                                      </a>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</nav>
<script>
    document.getElementById('search-form').addEventListener('submit', function(e) {
      e.preventDefault();
      var searchContent = document.getElementById('search-input').value;
      if (searchContent) {
        this.action = '/search/' + encodeURIComponent(searchContent);
        this.submit();
      }
    });
</script>